<?xml version="1.0"?>
  <config>
     <modules>
        <Taewol_Restconnect>
          <version>1.0.0</version>
        </Taewol_Restconnect>
     </modules>
    <global>
        <models>
            <taewolrestconnect>
                <class>Restconnect_Model</class>
            </taewolrestconnect>
        </models>
     </global>
     <frontend>
       <routers>
          <restconnect>
              <use>standard</use>
              <args>
                 <module>Taewol_Restconnect</module>
                 <frontName>restconnect</frontName>
              </args>
           </restconnect>
       </routers>
    </frontend>
</config>
